/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--body-bg);
  font-weight: 400;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: var(--body-size);
}

.container {
  max-width: calc(var(--container) + var(--gap) * 2);
  padding: 0, var(--gap);
  margin-inline: auto;
  display: block;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
}

.text-primary {
  background: -webkit-linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-1e {
  color: var(--gray-1e);
}

:root {
  --primary-font: "Sora", sans-serif;
  --body-bg: #FDF9F1;
  --body-size: 1400px;
  --container: 1100px;
  --gap: 15px;
  --gray-1e: #1e1e1e;
  --grayb5: #B5B3AF;
  --white: white;
  --greenLight: #00BD82;
  --primary-yellow: #E2F471;
  --blackLight: #4F4D49;
  --gray-54: #545454;
  --button-bg: #00BD82;
  --gray-7f: #7F7D79;
  --gray-7d: #7D7D7D;
  --dark-yellow: #DFFF1B;
}

.header {
  background-color: var(--gray-1e);
  margin-bottom: 358px;
}
.header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 40px 83px;
}
.header_toggle {
  display: none;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.header_logo img {
  width: 24px;
}
.header_logo-text {
  font-size: 25px;
  font-weight: 600;
}
.header_login {
  color: white;
  padding: 9px 25px;
  position: relative;
  border-radius: 6px;
  transition: 0.2s ease all;
}
.header_login::before {
  background-color: var(--grayb5);
  z-index: 0;
  position: absolute;
  inset: 0;
  content: "";
  display: block;
  border-radius: inherit;
  opacity: 0.2;
}
.header_login:hover {
  background-color: #7a7874;
}
.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 55px;
  margin-bottom: 88px;
}
.header_heading {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  max-width: 840px;
}
.header_buttons {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}
.header_started {
  background-color: var(--greenLight);
  padding: 14px 30px;
  font-size: 18px;
  color: var(--white);
  border-radius: 10px;
}
.header_instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  color: var(--white);
  font-size: 18px;
}
.header_image1 {
  max-width: 966px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin-bottom: -219px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 22px;
    margin-bottom: 136px;
    position: relative;
  }
  .header_top {
    padding: 25px 0 55px;
    justify-content: flex-start;
  }
  .header_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .header_logo {
    gap: 12px;
  }
  .header_logo * {
    font-size: 20px;
  }
  .header_login {
    font-size: 12px;
    margin-left: auto;
    margin-right: 30px;
  }
  .header_heading {
    font-size: 30px;
    line-height: 1.5;
  }
  .header_content {
    row-gap: 35px;
    margin-bottom: 64px;
  }
  .header_buttons {
    column-gap: 20px;
  }
  .header_started {
    font-size: 14px;
    padding: 11px 20px;
  }
  .header_instruction span {
    display: none;
  }
  .header_image1 {
    max-width: 341px;
    margin-bottom: -76px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}
.menu_link {
  color: var(--grayb5);
  font-size: 16px;
  display: inline-block;
  position: relative;
  transition: 0.25s ease;
}
.menu_link::before {
  display: inline-block;
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  transition: 0.2s ease all;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.menu_link:hover {
  color: white;
}
.menu_link:hover::before {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .menu {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 300px;
    background-color: var(--gray-1e);
    z-index: 20;
    flex-direction: column;
    align-items: stretch;
    transform: translate(150%);
    transition: 0.3s ease all;
  }
  .menu_item {
    margin-bottom: 15px;
  }
  .menu_link {
    display: block;
    padding: 15px;
  }
  .menu_link:hover::before {
    width: 0;
  }
}

.countdown {
  background-color: var(--primary-yellow);
  max-width: 100%;
  padding: 58px 100px;
  display: block;
  margin-bottom: 140px;
}
.countdown_list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 138px;
}
.countdown_item {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  text-align: center;
}
.countdown_title {
  font-size: 44px;
  color: var(--gray-1e);
  font-weight: 600;
}
.countdown_text {
  font-size: 18px;
  color: var(--blackLight);
}
@media screen and (max-width: 1024px) {
  .countdown {
    padding: 61px 56px 82px;
    margin-bottom: 61px;
  }
  .countdown_list {
    flex-direction: column;
    row-gap: 64px;
  }
  .countdown_item {
    row-gap: 20px;
  }
}

.newsletter {
  padding-left: 100px;
  padding-bottom: 66px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 74px;
  justify-items: flex-end;
}
.newsletter_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  row-gap: 18px;
  text-align: center;
  max-width: 630px;
  margin-bottom: 95px;
}
.newsletter_title-heading {
  font-weight: 600;
  color: var(--gray-1e);
  font-size: 50px;
}
.newsletter_title-text {
  font-size: 18px;
  color: var(--gray-54);
  max-width: 475px;
}
.newsletter_main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 70px;
  overflow: hidden;
  max-width: 1307px;
}
.newsletter_img {
  max-width: 648px;
  flex-shrink: 0;
}
.newsletter_img img {
  width: 100%;
}
.newsletter_description {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
.newsletter_description_title {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.newsletter_description-heading {
  font-size: 40px;
  font-weight: 600;
  color: var(--gray-1e);
}
.newsletter_description-text {
  font-size: 18px;
  color: var(--gray-54);
}
.newsletter_logos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.newsletter_logos_container {
  display: flex;
  flex-direction: row;
  column-gap: 74px;
}
.newsletter_marketing_logo {
  width: 62px;
  display: block;
}
.newsletter_marketing_desc {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.newsletter_marketing_desc_main {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.newsletter_marketing_heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-1e);
}
.newsletter_marketing_text {
  color: var(--gray-54);
}
.newsletter_readmore {
  color: var(--gray-54);
}
.newsletter_readmore:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .newsletter {
    padding: 0 31px;
    margin: 0;
  }
  .newsletter_title {
    margin-bottom: 61px;
    max-width: 313px;
    row-gap: 12px;
  }
  .newsletter_title-heading {
    font-size: 30px;
  }
  .newsletter_title-text {
    font-size: 18px;
    color: var(--gray-54);
    max-width: 237px;
  }
  .newsletter_main {
    flex-direction: column-reverse;
    gap: 45px;
    padding-inline: 13px;
  }
  .newsletter_img {
    max-width: 322px;
    margin-left: 14px;
  }
  .newsletter_description {
    row-gap: 65px;
  }
  .newsletter_description_title {
    gap: 9px;
  }
  .newsletter_description-heading {
    font-size: 24px;
    line-height: 34px;
    max-width: 244px;
  }
  .newsletter_description-text {
    font-size: 14px;
    max-width: 288px;
  }
  .newsletter_logos_container {
    flex-direction: column;
    max-width: 265px;
  }
  .newsletter_logos {
    gap: 19px;
    margin-bottom: 69px;
  }
}

.feature {
  padding-right: 140px;
  padding-bottom: 140px;
}
.feature_main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 86px;
}
.feature_image {
  max-width: 665px;
}
.feature_image img {
  width: 100%;
}
.feature_content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.feature_title {
  font-weight: 600;
  font-size: 40px;
  color: var(--gray-1e);
  line-height: 50px;
  margin-bottom: 18px;
  max-width: 548px;
}
.feature_text {
  font-size: 18px;
  color: var(--gray-54);
  margin-bottom: 28px;
  max-width: 508px;
}
.feature_text.gray-1e {
  max-width: 416px;
  font-size: 16px;
}
.feature_button {
  padding: 16px 58px;
  background-color: var(--button-bg);
  color: white;
  border-radius: 10px;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .feature {
    flex-direction: column;
    padding: 0;
    margin-bottom: 60px;
  }
  .feature_main {
    flex-direction: column;
    align-items: center;
  }
  .feature_image {
    max-width: 350px;
  }
  .feature_content {
    margin-top: 64px;
    padding-inline: 24px;
  }
  .feature_title {
    max-width: 284px;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 40px;
  }
  .feature_text {
    font-size: 14px;
    max-width: 296px;
    margin-bottom: 22px;
  }
  .feature_text.gray-1e {
    max-width: 296px;
    font-size: 14px;
    margin-bottom: 49px;
  }
  .feature_button {
    margin-top: 0;
    padding: 17px 117px;
  }
}

.service {
  margin-bottom: 140px;
}
.service_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 58px;
}
.service_title {
  font-size: 50px;
  font-weight: 600px;
  color: var(--gray-1e);
  margin-inline: auto;
}
.service_cardlist {
  display: flex;
  flex-direction: row;
  column-gap: 23px;
}
.service_card {
  max-width: 351px;
  padding: 60px 20px;
  transition: 0.2s ease all;
}
.service_card_name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: var(--gray-1e);
}
.service_card_desc {
  color: var(--gray-7f);
  max-width: 280px;
}
.service_card:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}
.service_card:hover .service_logo {
  background-color: var(--button-bg);
  color: white;
}
.service_logo {
  width: 66px;
  height: 66px;
  background: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 46px;
  color: black;
  transition: 0.2s ease all;
}
@media screen and (max-width: 1024px) {
  .service {
    margin-bottom: 0;
  }
  .service_main {
    gap: 35px;
  }
  .service_title {
    font-weight: 600;
    font-size: 30px;
  }
  .service_cardlist {
    flex-direction: column;
    gap: 22px;
    margin-inline: 12px;
    max-width: 351px;
  }
  .service_card {
    max-width: 222px;
    padding: 44px;
    margin: 0;
  }
  .service_card_name {
    font-size: 24px;
    margin-bottom: 19px;
  }
}

.tools {
  background-color: var(--gray-1e);
  padding-left: 150px;
  padding-right: 92px;
  padding-block: 63px;
  margin-bottom: 140px;
}
.tools_main {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}
.tools_desc {
  display: flex;
  flex-direction: column;
}
.tools_heading {
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  max-width: 583px;
  margin-bottom: 9px;
}
.tools_text {
  color: var(--grayb5);
  font-size: 18px;
  margin-bottom: 41px;
}
.tools_button {
  background-color: var(--button-bg);
  width: fit-content;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
}
.tools_button ion-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  width: 15px;
}
.tools_image {
  max-width: 534px;
}
.tools_image img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .tools {
    padding: 80px 0;
    margin-bottom: 60px;
  }
  .tools_main {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .tools_desc {
    width: 326px;
  }
  .tools_heading {
    font-size: 30px;
    line-height: 40px;
    max-width: 255px;
  }
  .tools_text {
    max-width: 286px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 63px;
  }
  .tools_button {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 66px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 17px;
  }
  .tools_button ion-icon {
    margin-left: 19px;
    top: 0;
    transform: translate(0);
  }
  .tools_image {
    max-width: 348px;
  }
}

.tesmonials {
  margin-bottom: 140px;
}
.tesmonials_main {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  justify-content: center;
  align-items: center;
}
.tesmonials_heading {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  max-width: 600px;
}
.tesmonials_slider {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.tesmonials .slick-initialized .slick-slide {
  margin-inline: 20px;
}
.tesmonials .slick-next {
  right: 0;
}
.tesmonials .slick-next, .tesmonials .slick-prev {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  color: black;
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}
.tesmonials .slick-next:hover, .tesmonials .slick-prev:hover {
  background-color: var(--button-bg);
  color: white;
}
.tesmonials .slick-next:hover ion-icon, .tesmonials .slick-prev:hover ion-icon {
  transition: 0.2s ease all;
  transform: scale(1.5);
}
.tesmonials .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50px);
  display: flex !important;
  flex-direction: row !important;
  gap: 15px;
}
.tesmonials .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--grayb5);
  cursor: pointer;
  transition: 0.2s ease all;
}
.tesmonials .slick-dots .slick-active button {
  background-color: var(--button-bg);
}
.tesmonials_content {
  display: flex;
  flex-direction: row;
  column-gap: 77px;
  align-items: center;
}
.tesmonials_image {
  max-width: 500px;
  flex-shrink: 0;
  margin-bottom: 15px;
}
.tesmonials_image img {
  width: 100%;
  object-fit: contain;
}
.tesmonials_text {
  flex: 1;
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 27px;
}
.tesmonials_from {
  color: var(--gray-7d);
  margin-bottom: 14px;
  display: block;
}
.tesmonials_rating {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 9px;
}
@media screen and (max-width: 1024px) {
  .tesmonials {
    margin-bottom: 68px;
  }
  .tesmonials_main {
    gap: 14px;
    align-items: flex-start;
    padding-inline: 29px;
  }
  .tesmonials_heading {
    font-size: 30px;
    line-height: 40px;
    max-width: 241px;
    text-align: start;
  }
  .tesmonials_content {
    flex-direction: column-reverse;
  }
  .tesmonials_text {
    font-size: 14px;
    line-height: 24px;
    max-width: 317px;
    margin-bottom: 23px;
  }
  .tesmonials_from {
    margin-bottom: 9px;
  }
  .tesmonials_rating {
    gap: 0;
  }
  .tesmonials_rating_number {
    margin-bottom: 42px;
    font-size: 17px;
  }
  .tesmonials_image {
    max-width: 317px;
    margin-bottom: 34px;
  }
  .tesmonials_dir_left, .tesmonials_dir_right {
    padding: 19px;
    font-size: 16px;
  }
  .tesmonials .slick-next, .tesmonials .slick-prev {
    display: none !important;
  }
}

.library {
  max-width: 1007px;
  margin-bottom: 140px;
  margin-inline: auto;
}
.library_main {
  display: flex;
  flex-direction: column;
  row-gap: 86px;
}
.library_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.library_heading {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  max-width: 683px;
  color: var(--gray-1e);
}
.library_text {
  font-size: 18px;
  color: var(--gray-54);
  max-width: 326px;
  text-align: center;
  margin-bottom: 32px;
}
.library_nav {
  max-width: 380px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.library_nav_item {
  padding: 12px 24px;
  background-color: transparent;
  color: black;
  border-radius: 13px;
  transition: 0.2s ease all;
}
.library_nav_item:hover {
  background-color: var(--gray-1e);
  color: var(--dark-yellow);
}
.library_content {
  display: flex;
  gap: 62px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.library_content_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.library_content_main_item {
  transition: 0.2s all ease;
  border-radius: 17px;
}
.library_content_main_item:hover {
  background-color: white;
}
.library_content_main_item:hover .library_content_main_item_content {
  transform: translateX(43px);
}
.library_content_main_item_image {
  margin-bottom: 14px;
  max-width: 315px;
}
.library_content_main_item_image img {
  width: 100%;
  object-fit: contain;
}
.library_content_main_item_content {
  padding-bottom: 25px;
  padding-inline: 10px;
  transition: 0.2s ease all;
}
.library_content_main_item_content_name {
  margin-bottom: 9px;
  color: var(--button-bg);
  display: block;
}
.library_content_main_item_content_title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  max-width: 200px;
  display: block;
}
.library_content_button {
  color: white;
  background-color: var(--button-bg);
  padding: 13px 33px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library_content_button ion-icon {
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .library {
    margin-bottom: 83px;
  }
  .library_main {
    gap: 91px;
  }
  .library_heading {
    font-size: 30px;
    line-height: 40px;
    max-width: 262px;
    text-align: center;
  }
  .library_text {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .library_nav {
    padding: 8px;
    gap: 0;
  }
  .library_content {
    gap: 50px;
  }
  .library_content_main {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .library_content_main_item_content {
    padding: 0;
  }
  .library_content_button {
    width: 319px;
    box-sizing: border-box;
    justify-content: center;
  }
  .library_content_button ion-icon {
    margin-left: 26px;
    font-size: 18px;
  }
}

.footer {
  background-color: var(--gray-1e);
  color: white;
  padding-block: 75px;
}
.footer_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 76px;
  align-items: center;
}
.footer_header {
  max-width: 447px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer_header .footer_logo_link {
  display: none;
}
.footer_heading {
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  margin-bottom: 15px;
}
.footer_text {
  color: var(--grayb5);
  font-size: 18px;
  max-width: 338px;
  text-align: center;
  display: block;
  margin-bottom: 35px;
}
.footer_button {
  padding: 15px 20px;
  background-color: var(--button-bg);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_button ion-icon {
  font-size: 20px;
  margin-left: 10px;
}
.footer_footer {
  display: flex;
  flex-direction: row;
}
.footer_logo {
  max-width: 280px;
  margin-right: 114px;
}
.footer_logo_link {
  margin-bottom: 31px;
  display: block;
}
.footer_logo_link span {
  font-size: 26px;
  font-weight: 600;
  margin-left: 15px;
}
.footer_desc {
  color: var(--grayb5);
  margin-bottom: 15px;
}
.footer_info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer_title {
  font-weight: 600;
}
.footer_link_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 70px;
}
.footer_link_list_item {
  color: var(--grayb5);
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 53px 75px;
  }
  .footer_header .footer_logo_link {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .footer_heading {
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 40px;
  }
  .footer_text {
    font-size: 14px;
    margin-bottom: 28px;
  }
  .footer_button {
    width: 223px;
  }
  .footer_footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
