:root{
    --primary-font: 'Sora', sans-serif;
    --body-bg: #FDF9F1;
    --body-size: 1400px;
    --container: 1100px;
    --gap: 15px;
    --gray-1e: #1e1e1e;
    --grayb5: #B5B3AF;
    --white: white;
    --greenLight: #00BD82;
    --primary-yellow: #E2F471;
    --blackLight: #4F4D49;
    --gray-54: #545454;
    --button-bg: #00BD82;
    --gray-7f: #7F7D79;
    --gray-7d: #7D7D7D;
    --dark-yellow: #DFFF1B;
}