.service{
    margin-bottom: 140px;
    &_main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 58px;
    }
    &_title{
        font-size: 50px;
        font-weight: 600px;
        color: var(--gray-1e);
        margin-inline: auto;
    }
    &_cardlist{
        display: flex;
        flex-direction: row;
        column-gap: 23px;
    }
    &_card{
        max-width: 351px;
        padding: 60px 20px;
        transition: .2s ease all;
        &_name{
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 600;
            display: block;
            color: var(--gray-1e)
        }
        &_desc{
            color: var(--gray-7f);
            max-width: 280px;
        }
        &:hover{
            box-shadow: 0 0 100px rgba(0,0,0,0.08) ;
            .service_logo{
                background-color: var(--button-bg);
                color: white;
            }
        }
    }
    &_logo{
        width: 66px;
        height: 66px;
        background: rgba(0,0,0,0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-bottom: 46px;
        color: black;
        transition: .2s ease all;
    }
    @include maxWidth (1024px) {
        margin-bottom: 0;
        &_main{
            gap: 35px;
        }
        &_title{
            font-weight: 600;
            font-size: 30px;
        }
        &_cardlist{
            flex-direction: column;
            gap: 22px;
            margin-inline: 12px;
            max-width: 351px;
        }
        &_card{
            max-width: 222px;
            padding: 44px;
            margin: 0;
            &_name{
                font-size: 24px;
                margin-bottom: 19px;
            }
        }
    }
}