.tesmonials{
    margin-bottom: 140px;
    &_main{
        display: flex;
        flex-direction: column;
        row-gap: 75px;
        justify-content: center;
        align-items: center;
    }
    &_heading{
        font-weight: 600;
        font-size: 50px;
        // line-height: 63px;
        text-align: center;
        max-width: 600px;
    }
    &_slider{
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;
    }
    .slick-initialized .slick-slide{
        margin-inline: 20px;
    }
    .slick-next{
        right: 0;
    }
    .slick-next,.slick-prev{
        position: relative;
        background-color: rgba(0,0,0,0.08);
            color: black;
            padding: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            transition: all .2s ease;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: var(--button-bg);
                color: white;
                ion-icon{
                    transition: .2s ease all;
                    transform: scale(1.5);
                }
            }
    }
    .slick-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50px);
        display: flex !important;
        flex-direction: row !important;
        gap: 15px;
        & button{
            font-size: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: none;
            background-color: var(--grayb5);
            cursor: pointer;
            transition: .2s ease all;
        }
        & .slick-active button{
            background-color: var(--button-bg);
        }
    }
    &_content{
        display: flex;
        flex-direction: row;
        column-gap: 77px;
        align-items: center;
    }
    &_image{
        max-width: 500px;
        flex-shrink: 0;
        margin-bottom: 15px;
        & img{
            width: 100%;
            object-fit: contain;
        }
    }
    &_text{
        flex: 1;
        font-size: 23px;
        line-height: 40px;
        margin-bottom: 27px;
    }
    &_from{
        color: var(--gray-7d);
        margin-bottom: 14px;
        display: block;
    }
    &_rating{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        margin-bottom: 9px;
    }
    // &_dir{
    //     display: flex;
    //     flex-direction: row;
    //     column-gap: 8px;
    //     justify-content: flex-end;
    //     width: 100%;
    //     &_left,
    //     &_right{
    //         background-color: rgba(0,0,0,0.08);
    //         color: black;
    //         padding: 23px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         border-radius: 15px;
    //         transition: all .2s ease;
    //         font-size: 20px;
    //         ion-icon{
    //             transition: .2s ease all;
    //         }
    //         &:hover{
    //             background-color: var(--button-bg);
    //             color: white;
    //             ion-icon{
    //                 transform: scale(1.5);
    //             }
    //         }
    //     }
    // }
    @include maxWidth(1024px) {
        margin-bottom: 68px;
        &_main{
            gap: 14px;
            align-items: flex-start;
            padding-inline: 29px;
        }
        &_heading{
            font-size: 30px;
            line-height: 40px;;
            max-width: 241px;
            text-align: start;
        }
        &_content{
            flex-direction: column-reverse;
        }
        &_text{
            font-size: 14px;
            line-height: 24px;
            max-width: 317px;
            margin-bottom: 23px;
        }
        &_from{
            margin-bottom: 9px;
        }
        &_rating{
            gap: 0;
            &_number{
                margin-bottom: 42px;
                font-size: 17px;
            }
        }
        &_image{
            max-width: 317px;
            margin-bottom: 34px;
        }
        &_dir_left,
        &_dir_right{
            padding: 19px;
            font-size: 16px;
        }
        .slick-next,.slick-prev{
            display: none !important;
        }
    }
}
